/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Anton');

body {
  background: #f5f5f5;
}
.padding0 {
  padding: 0!important;
}

.top-section {
  padding: 50px;
  min-height: 50px;
  background: #00695C;
  color: #fff;
  font-style: italic; 
  font-family: 'Anton', sans-serif;
}

.left-section {
  color: #f4f4f4;
  padding: 20px;
  min-height: 450px!important;
  background: #009688
}
  .left-section h5 {
    color: #CDDC39;
  }
  .left-section p a {
    color: #004D40;
  }

.main-section {
  padding: 20px;
  min-height: 450px!important;
  background: #B2DFDB;
}